# 2026-09-24, version 4.3.3-beta: ASGSR, Alexey Emanov
.settings
.venv/
.vscode/
.snapshots/
.DS_Store
/.gradle/
/.idea/
data/
!backend/yasmine/app/tests/integration/data/
backend/yasmine/app/tests/integration/data/*
!backend/yasmine/app/tests/integration/data/stationxmls/
backend/yasmine/app/tests/integration/data/stationxmls/*
!backend/yasmine/app/tests/integration/data/stationxmls/compliance_*.xml
!backend/yasmine/app/tests/integration/data/station_from_obspy.xml
!backend/yasmine/app/tests/integration/data/station_from_obspy2.xml
Yasmine-Documentations-3.0.1.pdf
NOTES.md
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock
**/NOTES/**
.jekyll-cache/*
docs/SCRATCH
SCRATCH
.bundle/