jsonschema>=4.20.0
xmljson>=0.2.1
lxml>=6.0.0
jsonref>=1.1.0
tornado>=6.5.0
SQLAlchemy>=1.4,<2
alembic>=1.14.0
selenium>=4.41.0
tzlocal>=5.3.0
pytz>=2025.2
humanize>=4.15.0
obspy>=1.4.2
jsonpickle>=4.1.0
apscheduler>=3.11.0
python-slugify>=8.0.0
xmlunittest>=1.0.0
pyyaml>=6.0.0
requests>=2.32.0
