/* 2026-09-20, version 4.2.0-beta: ASGSR, Alexey Emanov */
/* Extracted from sage-gage.html to satisfy no-inline-styles. */
.sage-inline-style-1.sage-inline-style-1.sage-inline-style-1.sage-inline-style-1 { display: none; }
.sage-inline-style-2.sage-inline-style-2.sage-inline-style-2.sage-inline-style-2 { -webkit-user-select: none; user-select: none; }
.sage-inline-style-3.sage-inline-style-3.sage-inline-style-3.sage-inline-style-3 { display: none; -webkit-user-select: none; user-select: none; }
.sage-inline-style-4.sage-inline-style-4.sage-inline-style-4.sage-inline-style-4 { width: 812px; height: 457px; left: 551.889px; top: 0px; }
.sage-inline-style-5.sage-inline-style-5.sage-inline-style-5.sage-inline-style-5 { position: absolute; height: 100%; width: 100%; bottom: 0%; top: 0%; left: 0%; }
.sage-inline-style-6.sage-inline-style-6.sage-inline-style-6.sage-inline-style-6 { width: 100%; height: 100%; position: absolute; }
.sage-inline-style-7.sage-inline-style-7.sage-inline-style-7.sage-inline-style-7 { line-height: normal; }
.sage-inline-style-8.sage-inline-style-8.sage-inline-style-8.sage-inline-style-8 { position: absolute; display: none; }
.sage-inline-style-9.sage-inline-style-9.sage-inline-style-9.sage-inline-style-9 { -webkit-user-select: none; user-select: none; display: none; }
